%h1 Menus List

%h3
  = link_to 'Add Menu', new_menu_path

= search_form_for @q do |f|
  = f.label :name_cont
  = f.text_field :name_cont
  = f.label :description_cont
  = f.text_field :description_cont
  = f.submit

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Type
  %tbody
    - @menus.each do |menu|
      %tr
        %td= link_to menu.name, menu_path(menu)
        %td= menu.description
        %td= menu.type
