%h1 Recipes List

= search_form_for @q do |f|
  = f.label :name_cont
  = f.text_field :name_cont
  = f.label :description_cont
  = f.text_field :description_cont
  = f.submit
end

%table.table.table-hover
  %thead
    %tr
      %th Recipe Name
      %th Description
      %th Ready In
      %th Number of Servings
      %th Cost
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.name, recipe_path(recipe)
        %td= recipe.description
        %td= recipe.time_in_minutes
        %td= recipe.servings
        %td= recipe.total_cost
