%h1= @recipe.name
%div= "#{@recipe.description}"
%div= "This recipe is for #{@recipe.servings} servings and ready in #{@recipe.time} and costs #{number_to_currency(@recipe.cpp)} per person"
%div= "Ingredients: #{@recipe.ingredients}"
%div= "Directions: #{@recipe.directions}"
