%h1= @recipe.name
%p Find me in app/views/recipes/show.html.haml
%div= "Directions: #{@recipe.directions}"
%div= "Description: #{@recipe.description}"
%div= "Ingredients: #{@recipe.ingredients}"
%div= "Servings: #{@recipe.num_servings}"
