.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => recipes_path}
          Small Group
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@recipe.name}"

#show_recipes
  .row
    .hero-unit.panel-blue
      %img{:id => "thumb", :src => @recipe.thumbnail}
      .hero-content
        %h1= @recipe.name  
        %p= "#{@recipe.description}"
      
  .row
    .span12#servings
      %h2 1. Choose Number of Servings
      %p
        Select servings below, and ingredients will be automatically scaled. 
      %ul.nav.nav-pills
        %li{:class => @active_5 ? 'active' : ''}
          %a{:href => "?servings=5"}
            5 servings
        %li{:class => @active_10 ? 'active' : ''}
          %a{:href => "?servings=10"}
            10 servings
        %li{:class => @active_20 ? 'active' : ''}
          %a{:href => "?servings=20"}
            20 servings
        %li{:class => @active_50 ? 'active' : ''}
          %a{:href => "?servings=50"}
            50 servings
  .row
    .span12#ingredients
      %h2 2. Buy Ingredients
      %p
        Hover over ingredients for a photo, where to buy, and tips.
      %table.table
        %tr
          %th
            Quantity
          %th
            Item
          %th
            Buy at
          %th
            Cost
        - @recipe.recipe_ingredients.each do |ing|
          %tr
            %td
              = "#{ing.amount}x"
            %td
              %a{:target => "_blank", :href => "#{ing.ingredient.photo}", :class => "#{ing.ingredient.name}", :rel => "popover", "data-content" => "This is a test"}
                = ing.ingredient.display_name
            %td
              %a{:href => ""}
                = ing.ingredient.location.name
            %td
              = "$#{ing.amount * ing.ingredient.price}"
        %tr
          %td
          %td
            Total cost of ingredients
          %td
            = "$#{@recipe.total_cost}"
        %tr
          %td
          %td
            Cost per person
          %td
            = "$#{@recipe.cost_per_person}"
  .row
    .span12#notes
      %h2 3. Preparation
      %p= "#{@recipe.directions}"
