.row-fluid
  .span2
    .sidebar.affix.span2
      %ul.nav.nav-list
        %li
          %h4 Show me...
        %li{:class => @active_2 ? 'active' : ''}
          %a{:href => "?q[cost_eq]=Under $2"}
            Meals under $2
        %li{:class => @active_5 ? 'active' : ''}
          %a{:href => "?q[cost_eq]=Under $5"}
            Meals under $5

  .span10
    .row-fluid.masthead
      %h1 Large Group Meals
      .span4.form-search.pull-right
        = search_form_for @q do |f|
          = f.text_field :name_cont, :class => 'input-large search-query', :placeholder => 'Search large group meals'
          = f.submit :class => 'btn', :value => 'Search'
      %h5 Each of these are complete budget-friendly meals that will feed a large group.
    .row-fluid
      - if @meals.count == 0
        .alert Sorry, no results match your criteria.
      - else
        .thumbnails
          - @meals.each do |meal|
            %li.span3
              .thumbnail.meal
                %a{:href => meal_path(meal)}
                  .mealname
                    %p= meal.name
                  %img{:src => meal.thumb}
        = paginate @meals
