%h1 Large Group Meals

.row
  .span3
    = search_form_for @q do |f|
      = f.text_field :name_cont
      = f.submit
  .span9
    - if @meals.count == 0
      .alert Sorry, no results match your criteria.
    - else
      .thumbnails
        - @meals.each do |meal|
          %li.span3
            .thumbnail#meal
              %a{:href => meal_path(meal)}
                %p= meal.name
                %img{:src => meal.thumb}
              %p= meal.type
      = paginate @meals
