%h1 Meals List

= search_form_for @q do |f|
  = f.label :name_cont
  = f.text_field :name_cont
  = f.label :description_cont
  = f.text_field :description_cont
  = f.submit

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th Description
      %th Type
  %tbody
    - @meals.each do |meal|
      %tr
        %td= link_to meal.name, meal_path(meal)
        %td= meal.description
        %td= meal.type
