%h1 Meals List

.row
  .span3
    = search_form_for @q do |f|
      = f.label :name_cont
      = f.text_field :name_cont
      = f.label :description_cont
      = f.text_field :description_cont
      = f.submit
  .span9
    - if @meals.count == 0
      .alert Sorry, no results match your criteria.
    - else
      .thumbnails
        - @meals.each do |meal|
          %li.span3
            .thumbnail#meal
              %p= meal.type
              %a{:href => meal_path(meal)}
                %img{:src => "http://placehold.it/300x160"}
                %p= meal.name
      = paginate @meals
