.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => meals_path}
          Large Group
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@meal.name}"

#show_catered_meals
  .row
    .hero-unit.panel-red
      %img{:id => "thumb", :src => @meal.thumb}
      .hero-content
        %h1= @meal.name  
        = "#{@meal.address} | Phone: #{@meal.phone}"
      
  .row
    .span12.content#catered_trays
      %table.table
        %tr
          %th
            Size
          %th
            Feeds
          %th
            Dish
          %th
            Cost
        - @trays.each_pair do |k, v|
          %tr
            %td
              = k
            %td
              - v.each do |tray|
                %div= "#{tray.servings} people"
            %td
              - v.each do |tray|
                %div= tray.name
            %td
              - v.each do |tray|
                %div= "$#{tray.cost}"