.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => meals_path}
          Large Group
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@meal.name}"

#show_catered_meals
  .row
    .hero-unit.panel-red
      %img{:id => "thumb", :src => @meal.thumb}
      .hero-content
        %h1= @meal.name  
        = "#{@meal.address} | Phone: #{@meal.phone}"
      
  .row
    .span12.content#catered_trays
      %table.table
        %tr
          %th
            Size
          %th
            Feeds
          %th
            Dish
          %th
            Cost
        - @meal.catered_meal_trays.each do |tray|
          %tr
            %td
              = "#{tray.size}"
            %td
              %div
                = "#{tray.servings} people"
            %td
              %div
                = "#{tray.name}"
            %td
              %div
                = "$#{tray.cost}"
