.row-fluid
  .span3
    %img{:src => @meal.thumb}
  .span9
    %h1= @meal.name
    %div= "#{@meal.description}"
    %h2 about the meal:
    %div= "It costs #{@meal.cost} per person"
    %div= "It is for #{@meal.servings} servings"
    %h2 where to get it:
    %div= "#{@meal.address}"
    %div= "Call: #{@meal.phone}"
