%h1= @meal.name
%div= "#{@meal.description}"
%div= "This recipe is for #{@meal.servings} servings"
%div= "#{@meal.ingredients}"
%div= "#{@meal.time_in_minutes}"
%div= "#{@meal.directions}"
%div= "#{@meal.cost}"
