.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => meals_path}
          Large Group
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@meal.name}"

#show_catered_meals
  .row
    .hero-unit
      %img{:id => "thumb", :src => @meal.thumb}
      .hero-content
        %h1= @meal.name  
        = "#{@meal.address} | Phone: #{@meal.phone}"
      
  .row
    .span12
      %table.table
        %tr
          %th
            Dish
          %th
            Size
          %th
            Feeds
          %th
            Cost
        %tr
          %td
            Chicken Fried Rice
          %td
            %div
              Small
            %div
              Large
          %td
            %div
              15 people
            %div
              40 people
          %td
            %div
              $20
            %div
              $28
        %tr
          %td
            BBQ Pork
          %td
            %div
              Small
            %div
              Large
          %td
            %div
              15 people
            %div
              40 people
          %td
            %div
              $20
            %div
              $28  
              