.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => meals_path}
          Large Group
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@meal.name}"

#show_cooked_meals
  .row
    .hero-unit.panel-red
      %img{:id => "thumb", :src => @meal.thumb}
      .hero-content
        %h1= @meal.name  
        %p= "#{@meal.description}"
      
  .row
    .span12#servings
      %h2 1. Choose Number of Servings
      %p
        Select servings below, and ingredients will be automatically scaled. 
      %ul.nav.nav-pills
        %li{:class => @active_150 ? 'active' : ''}
          %a{:href => "?servings=150"}
            150 servings
        %li{:class => @active_200 ? 'active' : ''}
          %a{:href => "?servings=200"}
            200 servings
        %li{:class => @active_250 ? 'active' : ''}
          %a{:href => "?servings=250"}
            250 servings
  .row
    .span12#ingredients
      %h2 2. Buy Ingredients
      %p
        Hover over ingredients for a photo, where to buy, and tips.
      %table.table
        %tr
          %th
            Quantity
          %th
            Item
          %th
            Buy at
          %th
            Cost
        - @meal.cooked_meal_ingredients.each do |ing|
          %tr
            %td
              = "#{ing.amount}x"
            %td
              %a{:href => ""}
                = ing.ingredient.display_name
            %td
              %a{:href => ""}
                = ing.ingredient.location.name
            %td
              = "$#{ing.price}"
        %tr
          %td
          %td
            %h4 Total cost of ingredients
            %h4 Cost per person
          %td
          %td
            %h4="$#{@meal.total_cost}"
            %h4="$#{@meal.cost_per_person}"
            

  .row
    .span12#notes
      %h2 3. Preparation
      %div= "#{@meal.directions}"
