.row-fluid
  .blog-body
    .blog-header
      .blog-title
        Cooking Tips
        .span4.form-search.pull-right
          = search_form_for @q do |f|
            = f.text_field :title_or_content_cont, :class => 'input-large search-query', :placeholder => 'Search cooking tips'
            = f.submit :class => 'btn', :value => 'Search'
    - if @posts.count == 0
      .alert.alert-info Sorry, no results match your criteria.
    - else
      .thumbnails.post
        - @posts.each do |post|
          %li.span3
            .thumbnail
              %a{:href => post_path(post)}
                .post-img
                  %img{:src => post.thumbnail}
                .post-info
                  .post-title
                    = post.title
                  .post-subtitle
                    =  " by " + post.author + " | " + post.created_at.strftime("%b %d, %Y")
      .post-paginate
        = paginate @posts
