.row-fluid
  .blog-body
    .post-body
      %a{:href => posts_path}= "<< Back to list"
      %br
      .title
        = @post.title
      .info
        =  "by " + @post.author
        %br
        =  @post.created_at.strftime("%b %d, %Y")
      .content
        = @post.content
