.row
  .span12
    %ul.breadcrumb
      %li
        %a{:href => posts_path}
          Cooking Tips
        %span{:class => "divider"}
          = "/"
      %li.active
        = "#{@post.title}"

#show_posts
  .row
    .hero-unit.panel-red
      %img{:id => "thumb", :src => @post.thumbnail}
      .hero-content
        %h1= @post.title
        %p
          ="by " + @post.author
          =@post.created_at.strftime("%b %d, %Y")

  .row
    .span12#content
      %p= @post.content
