#show_post
  .row
    .hero-unit
      %img{:id => "thumb", :src => @recipe.thumbnail}
      .hero-content
        %h1= @recipe.name  
        %p= "#{@recipe.description}"
      

  .row
    .span12#post_content
      %a{:href => posts_path}= "<< Back to list"
      %br
      .title
        = @post.title
      .info
        =  "by " + @post.author
        %br
        =  @post.created_at.strftime("%b %d, %Y")
      .content
        = @post.content
