!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Dish"
      %meta{:content => content_for?(:description) ? yield(:description) : "Foodprepapp", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    - if !@skip_header
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'

    .container
      #main{:role => "main"}
        = yield

    - if !@skip_footer
      %footer
    / ! end of #container
